{
  "jsc": {
    "target": "es2019",
    "parser": {
      "syntax": "ecmascript",
      "dynamicImport": true,
      "classProperty": true,
      "classPrivateProperty": true
    }
  },
  "module": { "type": "es6" },
  "sourceMaps": true
}
